form {
  width: 100%;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search {
  width: 22rem;
  padding: 1rem;
  min-width: 18rem;
  /* margin-left: 48rem; */
}

.search input {
  width: 100%;
  /* border: 2px solid transparent; */
  border: 2px solid rgb(25, 206, 96);
  height: 2.6rem;
  background: #f6f6f6;
  padding: 0.5rem;
}

.form-container button {
  width: 5rem;
  height: 2.5rem;
  position: relative;
}

.icon {
  position: relative;
  width: 1rem;
  top: 4px;
  right: -6px;
  margin: 0px;
}

.search input:focus {
  outline: none;
  /* background-color: #d8f3df; */
  border: 1px solid #dadada;
}
