/* .main-container {
  display: grid;
  border: 1px solid #dadada;
  grid-template-rows: 4.5rem 3.5rem auto fit-content(8rem);
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  height: 100%;
} */

.main-header {
  grid-area: header;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid #dadada;
  padding: 0.25rem 1rem;
  z-index: 60;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__brand {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.main-header__brand img {
  height: 2.5rem;
  vertical-align: middle;
  /* width: 100%; */
}

.main-header__menu {
  display: flex;
  align-items: center;
  justify-content: end;
}

.main-header__search {
  width: 22rem;
  padding: 1rem;
  min-width: 18rem;
  /* margin-left: 48rem; */
  position: relative;
}

.search-icon {
  position: absolute;
  width: 1rem;
  top: 1.6rem;
  right: 23px;
  margin: 0px;
}

.main-header__search input {
  width: 100%;
  /* border: 2px solid transparent; */
  border: 2px solid rgb(25, 206, 96);
  height: 2.4rem;
  background: #f6f6f6;
}

.main-header__search input:focus {
  outline: none;
  /* background-color: #d8f3df; */
  border: 1px solid #dadada;
}

.main-header-nav {
  display: flex;
}

.main-header-nav__items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 13rem;
}

.main-header-nav__item {
  margin: 0 1rem;
}

.main-nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 1rem;
}

.main-nav li {
  margin: 0 3rem;
}

.main-nav li:hover,
.main-nav li:active {
  color: white;
  border-bottom: 2px solid white;
}

.main-nav li.choice {
  color: rgb(65, 34, 178);
  font-weight: bold;
}

main {
  grid-area: main;
  /* border-top: 1px solid #dadada; */
}

.item__list {
  background-color: white;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.item {
  border: 1px solid #dadada;
  display: flex;
  flex-direction: column;
  width: 18rem;
  overflow: hidden;
  max-height: 25rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 2px 0px 10px 0px;
  text-align: left;
}

.item a {
  text-decoration: none;
  color: black;
}

.item__title {
  line-height: 1.6rem;
  height: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 5px;
}

.item__info {
  position: relative;
}

.item__discount_rate {
  color: #da120d;
  font-size: 1.5rem;
  line-height: 2.6rem;
  margin-right: 6px;
}

.item__sale_price {
  color: #424242;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.item__normal_price {
  color: #9e9e9e;
}

.item__img img {
  width: 100%;
  height: 100%;
}

.main-footer {
  grid-area: footer;
  border: 1px solid #dadada;
}
